{{define "title"}}Troc #{{.Troc.ID}}{{end}}

{{define "main"}}
	{{with .Troc}}
	<div class="troc">
		<div class="metadata">
			<strong>{{.Title}}</strong>
			<span>#{{.ID}}</span>
		</div>
		<pre><code>{{.Content}}</code></pre>
		<div class="metadata">
			<time>Created: {{humanDate .Created}}</time>
			<time>Expires: {{humanDate .Expires}}</time>
		</div>
	</div>
	{{end}}
{{end}}